<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'web_app/img/netlibrary.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'web_app/css/styles_home.css' %}">
    <title>NETlibrary</title>
</head>
<body>
    <header>
        <img class="symbol" src="{% static 'web_app/img/netlibrary.png' %}" alt="Ebook">
        <h2 class="name_site_header">NETlibrary</h2>
        <nav>
            <ul>
                <li><a class="nav_bar" href="{% url "home" %}">Home</a></li>
                <li><a class="nav_bar" href="">About me</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>