.symbol {
    width: 5vw;
    height: 5vw;
    float: left;
}

.name_site_header {
    display: block;
    margin-left: 5px;
    margin-right: 20px;
    color: #00e1ff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 100vw;
    height: 5vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #333;
    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.nav_bar {
    display: block;
    height: 5vw;
    color: #00e1ff;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    line-height: 5vw;
}

nav {
    margin-left: auto;
}

li a:hover {
    background-color: #111;
}