.header_block {
    display: flex;
    height: 5vw;
    align-items: center;
    background-color: white;
    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
}

.symbol {
    width: 5vw;
    height: 5vw;
}

.name_site_header {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #4F25AF, #FA3E57);
    text-align: center;
    font-size: 3rem;
}

header {
    width: 100vw;
    height: 5vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #333;
    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
}

nav {
    margin-left: auto;
    align-self: center;
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropbtn img {
    width: 20px;
    height: 20px;
}